@{
    ViewBag.Title = "freelancehub.io - How it Works";
}

<section id="feature1">    
    <section class="right">Customize your search.</section>
    <section class="left">
        <a href="/Content/images/search_screenshot_large.png" target="_blank">
        <img class="screenshot" alt="search" src="/Content/images/search.png" /></a>
    </section>            
</section>

<section id="feature2">    
    <section class="left">Organize your jobs in one place.</section>

    <section class="right">
        <a href="/Content/images/my_jobs_large.png" target="_blank">
        <img class="screenshot" alt="jobs" src="/Content/images/my_jobs.png" /></a>
    </section>   
</section>

<section id="feature3">    
    <section class="right">Have more time to do what you want.</section>
    <section class="left">            
        <img class="screenshot" alt="relax" src="/Content/images/relax.png" />
    </section>    
</section>