@model Web.Models.Job

@{
    ViewBag.Title = "freelancehub.io - Delete";
    Layout = "~/Views/Shared/_LayoutSignedIn.cshtml";
}

<section id="jobs_main">
<h1>Are you sure you want to delete this job?</h1>
   <fieldset>
       <a class="search-result-title" href="Model.URL" target="_blank">@Html.Raw(Model.Title)</a><br /> 
       <span class="search-result-desc">@Html.Raw(Model.ShortDescription)</span><br />            
       <a href="Model.DisplaySite" target="_blank">@Html.Raw(Model.DisplaySite)</a>
   </fieldset>
@using (Html.BeginForm()) {
    <p class="right" style="text-align: center;">
        <input type="submit" value="Delete" class="red small" />
        @Html.ActionLink("Back to List", "Index")
    </p>
}
</section>
