
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSignedIn.cshtml";
}

<section class="page_section">
@Html.ActionLink("Send Weekly Emails", "Send", null, new { @class = "red large" })
</section>
