@{
    ViewBag.Title = "freelancehub.io - Search";
    Layout = "~/Views/Shared/_LayoutSignedIn.cshtml";
}

<section id="search_main">
    <h2>Enter your skills. <br />Let us do the searching for you...</h2>
    @Html.Partial("_Search")
</section>


