@model Web.Models.RequestPasswordReset

@{
    ViewBag.Title = "RequestPasswordReset";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="page_section">
<h3>Enter your email address and you will receive a link to reset your password.</h3>
@using (@Html.BeginForm("RequestPasswordReset", "Account"))
    {   
        @Html.EditorFor(model => model.Email)
        
        <input type="submit" class="red medium" value="Send" />
    }
</section>
