@model Web.Models.Account

@{
    ViewBag.Title = "Freelance Hub - Change Plan";
    Layout = "~/Views/Shared/_LayoutSignedIn.cshtml";
}


<section id="pricing_main">
   <h2>Choose a New Plan</h2>
   <div class="tsc_pricingtable04">
    <ul class="price-box">
      <li class="pricing-header">
        <ul>
          <li class="title">Basic</li>
          <li class="price"><span class="big">Free</span></li>
          <li class="month-label">Boom!</li>
        </ul>
      </li>
      <li class="pricing-content">
        <ul>
          <li class="big-description"><strong>Try out the tool now for free!</strong></li>
          <li><strong>10</strong> Saved Jobs</li>
          <li><strong>General Searching</strong> (Predefined List of Sites)</li>
          <li><strong></strong> Support</li>
        </ul>
      </li>
      <li class="pricing-footer"> @Html.ActionLink("Choose this Plan", "ChangePlanToFree", "Account", new { email = Model.Email }, null)</li>
    </ul>
    <ul class="price-box">
      <li class="pricing-header">
        <ul>
          <li class="title">Part Time</li>
          <li class="price"><span class="currency">$</span><span class="big">9</span></li>
          <li class="month-label">Per Month</li>
        </ul>
      </li>
      <li class="pricing-content">
        <ul>
          <li class="big-description"><strong>Suitable for freelancing on the side.</strong></li>
          <li><strong>20</strong> Saved Jobs</li>
          <li><strong>Custom Searching</strong> (Choose Your Sites)</li>
          <li><strong>Good</strong> Support (2 day Response Time)</li>
        </ul>
      </li>
      <li class="pricing-footer"> @Html.ActionLink("Choose this Plan", "ChangePlanToBudget", "Account", new { email = Model.Email }, null)
      
    </ul>
    <ul class="price-box">
      <li class="pricing-header">
        <ul>
          <li class="title">Full Time</li>
          <li class="price"><span class="currency">$</span><span class="big">19</span><span class="small"></span></li>
          <li class="month-label">Per Month</li>
          <li class="most-popular-label"><span>most popular</span></li>
        </ul>
      </li>
      <li class="pricing-content">
        <ul>
          <li class="big-description"><strong>Perfect for those freelancing full time.</strong></li>
          <li><strong>50</strong> Saved Jobs</li>
          <li><strong>Custom Searching</strong> (Choose Your Sites)</li>
          <li><strong>Priority</strong> Support (24 Hour Response Time)</li>
        </ul>
      </li>
       <li class="pricing-footer"> @Html.ActionLink("Choose this Plan", "ChangePlanToFreelancer", "Account", new { email = Model.Email }, null) </li>
    </ul>
    <ul class="price-box">
      <li class="pricing-header">
        <ul>
          <li class="title">Agency</li>
          <li class="price"><span class="currency">$</span><span class="big">49</span><span class="small"></span></li>
          <li class="month-label">Per Month</li>
        </ul>
      </li>
      <li class="pricing-content">
        <ul>
          <li class="big-description"><strong>Designed for consulting agencies.</strong></li>
          <li><strong>Unlimited</strong> Saved Jobs</li>
          <li><strong>Custom Searching</strong> (Choose Your Sites)</li>
          <li><strong>Highest Priority</strong> Support (8 Hour Response)</li>
        </ul>
      </li>
       <li class="pricing-footer"> @Html.ActionLink("Choose this Plan", "ChangePlanToAgency", "Account", new { email = Model.Email }, null)

    </ul>
  </div>
</section>


