/* Freelance Styles */
body
{
    color: #113D49;
    font-family: 'Arvo', serif;
}

body#body-signed-in
{    
    background: url('../images/ricepaper2.png') repeat;
}

img
{
    max-width: 90%;
    margin-top: 15px;
}

a:link, a:hover, a:visited
{
    color: #b93831;
}

span.red {
    color: #b93831;
}

button.red, a.red, input.red
{
    font-family: 'Arvo', serif;
    font-size: 1.2em;    
    -moz-box-shadow: 0px 0px 5px #ccc;
    -webkit-box-shadow: 0px 0px 5px #ccc;
    box-shadow: 0px 0px 5px #ccc;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: #b93831;
    border-width: 1px;
    color: #FFFFFF;
    text-align: center;
}

a.red
{
    text-decoration:none;
    position:relative;
    z-index:0;
}

.authButtons
{
    width: 40%;
    margin: auto;
}

.screenshot
{
    width: 500px;
    max-height: 160px;
}

.screenshot2
{
    width: 500px;
    max-height: 250px;
}

button.light-blue,  input.light-blue
{
    font-family: 'Arvo', serif;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    position:relative;
    z-index:0;
    behavior: url(/Scripts/css-fixes/PIE.htc);
    background-color: #cdd6d8;
    border-width: 0px;
    color: #FFFFFF;
    text-align: center;
    margin-left: 5px;
}

input.small, button.small
{    
    width: 80px;
    height: 25px;
}

button.medium, input.medium
{    
    width: 100px;
    height: 40px;
}

input.blue, button.blue {
    background-color: #113D49;
    font-family: 'Arvo', serif;
    font-size: 1.2em;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    position:relative;
    z-index:0;
    behavior: url(/Scripts/css-fixes/PIE.htc);
    border-width: 0px;
    color: #FFFFFF;
    text-align: center;
}
    
.editor-field {
    text-align: left;
    padding-bottom: 5px;
}

.editor-field span {
    color: #b93831;
    font-size: .9em;
}

.editor-field input {
    font-size: .8em;
    width: 200px;
}

.editor-label 
{
    padding-top: 10px; 
    font-family: 'Arvo', serif;
    margin-right: 1.041667%;
}

.editor-radio
{ 
    font-family: 'Arvo', serif;
    text-align:left;
    font-size: .8em;
    margin-left: 140px;
}

.editor-label label 
{
    display: block;
    width: 200px;
    float: left;
    text-align: right;
    margin-right: 1.041667%;
}

button.large, input.large 
{    
    width: 260px;
    height: 60px;
}

a.large
{
    padding: 10px;
}

input.long
{
    width: 28%;
}

#wrapper 
{
    margin-right: auto;
    margin-left: auto;
    width: 96%;
    max-width: 1200px;
}

#wrapper-signed-in
{
    width: 100%;
}

header
{
    background-color: #113D49;
    height: 72px;
    margin-right: 1.0416667%;
    margin-left: 1.0416667%;
    width: 97.9166667%;
}


header a:link, header a:visited
{    
    color: #ffffff;
}

header a:hover
{
    color: #bcc4c6;
}

header a:active
{
    color: #f64f45;
}

header#signed-in
{
    background: url('../images/ricepaper2.png') repeat;
    height: 72px;
}
header#signed-in a:link, header#signed-in a:visited
{    
    color: #113D49;
}

header#signed-in a:hover
{
    color: #113D49;
}

header#signed-in a:active
{
    color: #113D49;
}

.selected a:link
{
    color: #e14d46;
}

nav
{
    height: 100%;
    margin-right: 1.041667%;
    float: right;
    width: 50%;
    text-align: right;
}

#nav-list
{
    position: relative;
    top: 38%;
}

nav ul li
{    
    display: inline-block; 
    margin-left: 1.3%;
    margin-right: 1.3%;
}

nav ul li a
{    
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
}

#content
{    
    background: url('../images/ricepaper2.png') repeat;
    margin-right: 1.0416667%;
    margin-left: 1.0416667%;
    margin-bottom: 0%;
    padding-bottom: 0%;
    width: 97.9166667%;
    min-height: 800px;
}

#content-signed-in
{    
    background-color: #fff;
    margin-right: 1.0416667%;
    margin-left: 1.0416667%;
    margin-bottom: 0%;
    padding-bottom: 0%;
    width: 97.9166667%;
    min-height: 800px;
    -moz-box-shadow: 0px 0px 5px #ccc;
    -webkit-box-shadow: 0px 0px 5px #ccc;
    box-shadow: 0px 0px 5px #ccc;
}

section#main
{
    height: 300px;
    text-align: center;
    padding-top: 30px; 
}

section#logo
{
    width: 50%;
    height: 100%;
    float: left;
}

#gofer
{    
    height: 115px;
    width: 100%;
    background: url('../images/logo.png') no-repeat center;
    font-family: 'Raleway', sans-serif;
    font-size: 3.2em;
    color: #b93831;
}

#gofer-small
{    
    height: 90px;
    width: 30%;
    background: url('../images/logomedium.png') no-repeat left;
    float: left;
    position: relative;
    left: -20px;
}

.gofer span
{
    color: #113D49;
}

.logo
{
    font-family: 'Raleway', sans-serif;
    font-size: 2.2em;
    color: #b93831;
    width: 25%;
    float: left;
    position: relative;
    top: 25px;
    margin-left: 1.0416667%;
}

.logo span
{
    color: #113D49;
}

div.message
{
    color: #b93831;
}

#tagline
{
    font-family: 'Raleway', sans-serif;
    font-size: 1.3em;
    line-height: 1.3;
}

.email {
    text-align: center;
}

section#features
{
    min-height:340px;       
    text-align: center; 
}

.plaid-box
{
    height: 300px;
    width: 27.9166666%;
    background-color: #cdd6d8;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    position:relative;
    z-index:0;
    behavior: url(/Scripts/css-fixes/PIE.htc);
    text-align: center;
    padding: 1.0416667%;
}

ul#feature-list
{
    margin: 0;
    padding: 0;
}
    
ul#feature-list li
{
    display: inline-block;    
    margin-right: 1.0416667%;
    margin-left: 1.0416667%;
    font-size: 2.2em;
}

.small_text {
    font-size: .4em;
    font-family: 'Raleway', sans-serif;
    line-height: 1.2em;
}

section#takeAction
{
    text-align: center;
    height: 300px;
}
    

footer
{
    margin-right: 1.0416667%;
    margin-left: 1.0416667%;
    width: 95.8336667%;
    background: url('../images/plaid_dark.png') repeat;
    height: 288px;
    color: #cdd6d8;
    padding-left: 1.0415%;
    padding-right: 1.0415%;
    position: relative;
    top: -16px;
}

footer p
{
    text-align: center;
    position: relative;
    top: 250px;
}

footer#footer-signed-in
{
    color: #113D49;
    background: url('../images/ricepaper2.png') repeat; 
    position: relative;
    top: -10px;   
}

ul#social-media
{
    margin: 0;
    padding: 0;
}
    
ul#social-media li
{
    display: inline-block;
    float: right;
    margin-right: 1.0416667%;
}

ul#social-media-signed-in
{
    text-align: center;
    position: relative;
    top: 160px;
}

ul#social-media-signed-in li
{
    display: inline-block;
    margin-right: 1.0416667%;
}


/* How it Works Page */
section#feature1
{
    height: 380px;
    font-family: 'Raleway', sans-serif;
    font-size: 1.3em;
    line-height: 1em;
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 40px;
}

section#feature1 span
{    
    font-size: 1.em;
}

.list_text
{
    font-size: .8em;
    line-height: .5em;
    color: #b93831; 
    text-align: left;
    margin-left:25%;
}

section#feature2, section#feature4
{
    height: 400px;
    background-color: #cdd6d8;
}

section#feature3
{
    height: 400px; 
}

.left
{
    float: left;
    margin-left: 8%;
    width: 40%;   
}

.right
{
    float: right;
    margin-right: 5%;
    width: 40%;
}

.text
{	
    margin-top: 30px;
}

.image 
{    
    margin-top: 60px;
}

.relax_large {
    width: 300px;
    margin-left:15%;
}

/* Pricing Table */
#pricing_main
{
    width: 50%;
    padding-top: 30px;
    margin: auto;
}

#pricing_main h2 {
    text-align: center;
}

.tsc_pricingtable04 ul.price-box li.pricing-header {
    background: none repeat scroll 0 0 #cdd6d8;
    border: 1px solid #FFFFFF;
    border-radius: 14px 14px 0 0;
    -moz-border-radius: 14px 14px 0 0;
    -webkit-border-radius: 14px 14px 0 0;
    position:relative;
    z-index:0;
    behavior: url(/Scripts/css-fixes/PIE.htc);
}

.tsc_pricingtable04 ul.price-box li.pricing-header li.most-popular-label span {
    background: none repeat scroll 0 0 #b93831;
    border: 3px solid #FFFFFF;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    color: #FFFFFF;
    font-size: 11px;
    font-weight: bold;
    padding: 2px 10px;
}

.tsc_pricingtable04 ul.price-box li.pricing-footer a.buy-now {
    background: none repeat scroll 0 0 #b93831;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    padding: 10px 32px;
    text-decoration: none;
}

.tsc_pricingtable04 ul.price-box li.pricing-footer a.buy-now:hover {
    background: none repeat scroll 0 0 #B93831;
}

/* Search Page */
section#search_main
{
    min-height: 800px;
}

section#search_main h2
{
    margin-top: 0;
    padding-top: 50px;
    padding-left: 20px;
}

/* Home Page */
section#home_main h2
{
    margin-top: 0;
    padding-top: 50px;
    padding-left: 20px;
}

/* My Jobs Page */
section#jobs_main
{
    min-height: 800px;
}

section#jobs_main h2
{
    margin-top: 0;
    padding-top: 50px;
    padding-left: 20px;
}

/* My Account Page */
section#account_main
{
    min-height: 800px;
}

section#account_main h2
{
    margin-top: 0;
    padding-top: 50px;
    padding-left: 20px;
}

/* iPad and other tablet width */
@media screen and (max-width: 768px)
{
    #wrapper,header, footer, nav
    {
        width: 768px;
        margin: 0px;
    }
   
   section#main
    {
        height: 500px;
    }
    
    section#logo
    {
        text-align: center;
        float: none;
        width: 100%;
        height: 40%;
    }
   
    nav
    {
        text-align: center;
    }
   
    section#features
    {
        text-align: center;
    }
   
    ul#feature-list li
    {
        display: block;    
        margin-top: 1.0416667%;
        margin-bottom: 1.0416667%;
        font-size: 2.2em;
        
    }
       
    .plaid-box
    {
        height: 300px;
        width: 96%;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        position:relative;
        z-index:0;
        behavior: url(/Scripts/css-fixes/PIE.htc);
        text-align: center;
        padding: 1.0416667%;
    }
    
    ul#social-media
    {    
        text-align: center;
    }
    
    ul#social-media li
    {
        display: inline-block;
        float: none;
    }
    
    /* How it Works Page */
    section#feature2, section#feature4
    {
        height: 400px;
        background-color: #cdd6d8;
    }

    section#feature3
    {
        font-size: 1em;
        height: 400px; 
    }

    .left
    {
        float: left;
        margin-left: 6%;
        width: 40%;   
    }

    .right
    {
        float: right;
        margin-right: 5%;
        width: 40%;
    }

    .text
    {	        
        font-size: .9em;
        margin-top: 20px;
    }

    .image 
    {    
        margin-top: 60px;
    }

    .relax_large {
        width: 200px;
        margin-left:15%;
    }
}

@media screen and (max-width: 550px)
{
   #wrapper,header, footer, nav
   {
       width: 550px;
       margin: 0px;
   }
   
   #logo
   {
       text-align: center;
   }
   
   nav
   {
       text-align: center;
   }
   
   #gofer
    {
        font-family: 'Raleway', sans-serif;
        font-size: 3em;
        color: #b93831;
    }

   #tagline
    {
        font-family: 'Raleway', sans-serif;
        font-size: 1.3em;
        line-height: 1.3;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    
    /* How it Works */
    section#feature1
    {
        height: 350px;
        font-size: 1.1em;
        width: 90%;
    }
    
    section#feature2, section#feature4
    {
        height: 600px;
        background-color: #cdd6d8; 
    }

    section#feature3
    {
        font-size: 1em;
        height: 600px;        
    }

    .left, .right
    {
        float: none;       
        width: 80%;
        margin: auto; 
    }

    .text
    {	        
        font-size: .8em;
        padding-top: 20px;
        text-align: center;
    }

    .image 
    {    
        margin-top: 60px;
        text-align: center;
    }

    .relax_large {
        width: 200px;
        margin: auto;
    }
}

@media screen and (max-width: 320px)
{
   #wrapper,header, footer, nav
   {
       max-width: 320px;
       margin: 0px;
   }
   
   section#main
   {
        height: 500px;
   }
    
   h3 
   {
	    font-size: .7em;
   }
   
   section#takeAction h2
   {
       font-size: 1em;
   }
   
   nav
   {
       float: none;
   }
    
   section#logo
   {
       text-align: center;
       height: 33%;
   }
   
    #gofer
    {
        font-family: 'Raleway', sans-serif;
        font-size: 2em;
        color: #b93831;
    }

   #tagline
    {
        font-family: 'Raleway', sans-serif;
        font-size: 1em;
        line-height: 1.3;
        max-width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
    
    button.large, input.large
    {    
        width: 260px;
        height: 50px;
    }
    
    button.medium, input.medium
    {    
        width: 100px;
        height: 50px;
    }
    
    input.long
    {
        width: 40%;
    }
    
    #content 
    {
        margin-bottom: 0;
        margin-left: 0%;
        margin-right: 0%;
        padding-bottom: 0;
    }
    .screenshot
    {
        max-width: 160px;
    }
    
    .plaid-box
    {
        height: 260px;
        padding: 0%;
    }
    
    section#features
    {
        text-align: center;
    }
    
    ul#feature-list li
    {
        font-size: 2em;
    }
    
   
    .editor-field 
    {
	    text-align: center;
    }
    .editor-label 
    {
        padding-top: 0px; 
    }
    
    .editor-label label 
    {
        display: inline;
        width: 200px;
        float: none;
        text-align: center;
        margin-right: 0%;
    }
    
    
   
}


/* Google Search Results */
   
div.gsc-keeper:hover {
    border-top-color: #113d49;
   background: #113d49;
   color: #ccc;
   }
   
div.gsc-keeper:active {
   border-top-color: #113d49;
   background: #113d49;
   }
   
div.gsc-keeper
{
    float: right;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    border-top: 1px solid #cdd6d8;
    background: #cdd6d8;
    background: -webkit-gradient(linear, left top, left bottom, from(#cdd6d8), to(#cdd6d8));
    background: -webkit-linear-gradient(top, #cdd6d8, #cdd6d8);
    background: -moz-linear-gradient(top, #cdd6d8, #cdd6d8);
    background: -ms-linear-gradient(top, #cdd6d8, #cdd6d8);
    background: -o-linear-gradient(top, #cdd6d8, #cdd6d8);
    padding: 14px 28px;
    webkit-border-radius: 6px;
   -moz-border-radius: 6px;
    border-radius: 6px;
    position:relative;
    z-index:0;
    behavior: url(/Scripts/css-fixes/PIE.htc);
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    color: #113d49;
    text-decoration: none;
    vertical-align: middle;
    margin-top: 10px;
    margin-right: 6%;
    height: 20px;
}

div.gs-result a.gs-visibleUrl, div.gs-result .gs-visibleUrl {
    color: #cdd6d8;
    padding-bottom: 2px;
    text-decoration: none;
}

div.gs-result
{
    float: left;
    text-align: left;
    width: 80%;
    margin-left: 2%;
    border-bottom-color: #cdd6d8;
}

div.gsc-control-cse
{    
    border: none;
}

div.gsc-results
{
    background-color: #fff;
    font-family: 'Arvo', serif;
    font-size: 1em;
    border: none;
}

input.gsc-search-button {
    background-color: #eb554d;
    background-image: -moz-linear-gradient(center top , #eb554d, #b93831);
    border: 1px solid #b93831;
}

.gsc-control-cse .gs-result .gs-title
{
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
    color: #113D49;
}

div.gs-result
{
    border-bottom: 1px solid #cdd6d8;
}
