@{
    ViewBag.Title = "freelancehub.io - Pricing";
}

<section id="pricing_main">
<!-- DC Pricing Tables:1 Start -->
  <div id="tsc_pricingtable01" class="clear">
    
    <div class="plan">
      <h3>Budget<span>$19/month</span></h3>
      <a class="signup" href="">Sign up</a>
      <ul>
        <li><b>1GB</b> Disk Space</li>
        <li><b>10GB</b> Monthly Bandwidth</li>
        <li><b>2</b> Email Accounts</li>
        <li><b>Unlimited</b> subdomains</li>
      </ul>
    </div>
    <div class="plan" id="most-popular">
      <h3>Freelancer<span>$29/month</span></h3>
      <a class="signup" href="">Sign up</a>
      <ul>
        <li><b>3GB</b> Disk Space</li>
        <li><b>25GB</b> Monthly Bandwidth</li>
        <li><b>5</b> Email Accounts</li>
        <li><b>Unlimited</b> subdomains</li>
      </ul>
    </div>
    <div class="plan">
      <h3>Agency<span>$99/month</span></h3>
      <a class="signup" href="">Sign up</a>
      <ul>
        <li><b>5GB</b> Disk Space</li>
        <li><b>50GB</b> Monthly Bandwidth</li>
        <li><b>10</b> Email Accounts</li>
        <li><b>Unlimited</b> subdomains</li>
      </ul>
    </div>
  </div>
<!-- DC Pricing Tables:1 End -->
<div class="tsc_clear"></div> <!-- line break/clear line -->

</section>
