@{
    ViewBag.Title = "freelancehub.io - Pricing";
}

<section id="pricing_main">
<!-- DC Pricing Tables:1 Start -->
   <h2>First Choose a Plan</h2>
  <!-- DC Pricing Tables:4 Start -->
  <div class="tsc_pricingtable04">
    <ul class="price-box">
      <li class="pricing-header">
        <ul>
          <li class="title">Basic</li>
          <li class="price"><span class="big">Free</span></li>
          <li class="month-label">Boom!</li>
        </ul>
      </li>
      <li class="pricing-content">
        <ul>
          <li class="big-description"><strong>Try out the tool now for free!</strong></li>
          <li><strong>10</strong> Saved Jobs</li>
          <li><strong></strong></li>
          <li><strong>General Searching</strong> (Predefined List of Sites)</li>
          <li><strong></strong> Support</li>
        </ul>
      </li>
      <li class="pricing-footer"> <a href="#" id="free" class="red buy-now osx">Start Now!</a> </li>
    </ul>
    <ul class="price-box">
      <li class="pricing-header">
        <ul>
          <li class="title">Part Time</li>
          <li class="price"><span class="currency">$</span><span class="big">9</span></li>
          <li class="month-label">Per Month</li>
        </ul>
      </li>
      <li class="pricing-content">
        <ul>
          <li class="big-description"><strong>Suitable for freelancing on the side.</strong></li>
          <li><strong>20</strong> Saved Jobs</li>
          <li><strong>Custom Searching</strong> (Choose Your Sites)</li>
          <li><strong>Good</strong> Support (2 day Response Time)</li>
        </ul>
      </li>
      <li class="pricing-footer"> <a href="#" id="part-time" class="red buy-now osx">Start a Free Trial!</a> </li>
    </ul>
    <ul class="price-box">
      <li class="pricing-header">
        <ul>
          <li class="title">Full Time</li>
          <li class="price"><span class="currency">$</span><span class="big">19</span><span class="small"></span></li>
          <li class="month-label">Per Month</li>
          <li class="most-popular-label"><span>most popular</span></li>
        </ul>
      </li>
      <li class="pricing-content">
        <ul>
          <li class="big-description"><strong>Perfect for those freelancing full time.</strong></li>
          <li><strong>50</strong> Saved Jobs</li>
          <li><strong>Custom Searching</strong> (Choose Your Sites)</li>
          <li><strong>Priority</strong> Support (24 Hour Response Time)</li>
        </ul>
      </li>
      <li class="pricing-footer"> <a href="#" id="full-time" class="buy-now osx">Start a Free Trial!</a> </li>
    </ul>
    <ul class="price-box">
      <li class="pricing-header">
        <ul>
          <li class="title">Agency</li>
          <li class="price"><span class="currency">$</span><span class="big">49</span><span class="small"></span></li>
          <li class="month-label">Per Month</li>
        </ul>
      </li>
      <li class="pricing-content">
        <ul>
          <li class="big-description"><strong>Designed for consulting agencies.</strong></li>
          <li><strong>Unlimited</strong> Saved Jobs</li>
          <li><strong>Custom Searching</strong> (Choose Your Sites)</li>
          <li><strong>Highest Priority</strong> Support (8 Hour Response)</li>
        </ul>
      </li>
      <li class="pricing-footer"> <a href="#" id="agency" class="buy-now osx">Start a Free Trial!</a> </li>
    </ul>
  </div>
<!-- DC Pricing Tables:4 End -->
<div class="tsc_clear"></div> <!-- line break/clear line -->

</section>
