@{
    ViewBag.Title = "freelancehub.io";
}


<section id="main">
        
        
    <section id="takeAction">
        <div id="gofer" class="gofer"></div>
        <h2>Search for freelance work now.</h2>
        @Html.ActionLink("Start Your Free Trial!", "Index", "Pricing", null, new { @class = "red large" })
    </section>
</section>

<section id="features">
    <ul id="feature-list">
        <li class="plaid-box">1. <br />Search
            <div class="small_text">The sites you want.</div>
            <a href="/Content/images/search_screenshot_large.png" target="_blank">
            <img class="screenshot" src="/Content/images/search.png" /></a></li>
        <li class="plaid-box">2.<br />Save Leads
            <div class="small_text">Organize jobs in one place.</div>
            <a href="/Content/images/my_jobs_large.png" target="_blank">
            <img class="screenshot" src="/Content/images/my_jobs.png" /></a></li>
        <li class="plaid-box">3.<br />Relax
            <div class="small_text">Have more time to do what you want.</div>
             
         <img src="/Content/images/relax.png" /></li>
            
    </ul>
</section>


