           
@{
    Layout = "~/Views/Shared/_LayoutSignedIn.cshtml";
    ViewBag.Title = "freelancehub.io - Oops";
}


<section id="home_main">
<h2>
    Well that's not right. Sorry something went wrong!
</h2>
</section>