@model Web.Models.CustomSearch

@{
    ViewBag.Title = "Customize";
    Layout = "~/Views/Shared/_LayoutSignedIn.cshtml";
}


<section id="search_main">
    <h2>Choose which sites you want to search...</h2>
</section>
