@model Web.Models.Account

@{
    ViewBag.Title = "freelancehub.io - Search";
    Layout = "~/Views/Shared/_LayoutSignedIn.cshtml";
}

<section id="search_main">
    @Html.Partial("_Search", Model)
</section>
