@{
    ViewBag.Title = "freelancehub.io - Search";
    Layout = "~/Views/Shared/_LayoutSignedIn.cshtml";
}

<section id="search_main">
    <h2>What type of jobs are you looking for?</h2>
    @Html.Partial("_Search")
</section>


