@model Web.Models.SearchResult

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Freelance Hub - Redirecting</title>
     <link rel="stylesheet" href="@Url.Content("~/Content/CSS/Reset.css")" />  
        <link rel="stylesheet" href="@Url.Content("~/Content/CSS/Style.css")" />       
        <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Raleway:600|Arvo' />

        <!-- JQuery libraries -->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
</head>
<body>
    <div id="content">
        <div id="sub-content">
        <section id="main">
            <h2>You are now leaving Freelance Hub </h2> 
            <div id="gofer" class="gofer"></div>
            <img alt="arrow" width="200px" src="../../Content/images/medium-red-arrow.png" /><h1>@Html.Raw(Model.DisplaySite)</h1>
            </section>
        @Html.HiddenFor(m => m.Url, new { id = "redirect-site" } )
        </div>
    </div>
</body>

<script>
    $(document).ready(function () {
        setTimeout(
          function () {
              if ($('#redirect-site').val() != undefined && $('#redirect-site').val() != "") {
                  window.location.href = $('#redirect-site').val();
              }
          }, 1500);

    });
</script>
</html>
