@model Web.Models.Account

@{
    ViewBag.Title = "Upgrade Now!";
    Layout = "~/Views/Shared/_LayoutSignedIn.cshtml";
}

<section class="page_section">
<h2>Upgrade to a paid plan access this feature!</h2>

@Html.ActionLink("Change Plan", "Upgrade", "Account", Model, new { @class = "red large" })
</section>