@model Web.Models.Account
           
@{
    Layout = "~/Views/Shared/_LayoutSignedIn.cshtml";
    ViewBag.Title = "freelancehub.io - Home";
}


<section id="home_main">
Drag this button to your toolbar -->
<a class="red large" href="javascript:(function(){if(window.freelanceBookmarklet!==undefined){freelanceBookmarklet();}else{document.getElementsByTagName('head')[0].appendChild(document.createElement('script')).src='@Model.APP_BASE_URL/Scripts/freelance-hub-bookmarklet.js';}})();">Save to Freelance Hub</a>

</section>