@model String
<div id="osx-modal-content">
    <div id="osx-modal-title" class="gofer">Saved</div>
    <div class="close"><a href="#" class="simplemodal-close">x</a></div>
    <div id="osx-modal-data">
        <span>Saved @Model</span>
    </div>
</div>