
<h2>What type of work are you looking for?</h2>

<!-- Google CSE Search Box Begins  -->
<!-- Use of this code assumes agreement with the Google Custom Search Terms of Service. -->
<!-- The terms of service are available at http://www.google.com/cse/docs/tos.html -->
<form id="cref_iframe" action="http://freelancehub.apphb.com/Content/html/results.html">
  <input type="hidden" name="cref" value="http://freelancehub.apphb.com/Content/xml/cse.xml" />
  <input type="hidden" name="cof" value="FORID:9" />
  <input type="text" name="q" size="40" />
  <input type="submit" name="sa" value="Search" />
</form>
<script type="text/javascript" src="'/cse'/brand'?form='cref_iframe" ></script>
<!-- Google CSE Search Box Ends -->



<!--
<div style="display:none">

    <div id="fria_webResult">
        
        <div class="gs-webResult gs-result"
             data-vars="{longUrl:function() {
        var i = unescapedUrl.indexOf(visibleUrl);
        return i < 1 ? visibleUrl : unescapedUrl.substring(i);}}">
            <div data-if="Vars.richSnippet" data-attr="0"
                 data-body="render('thumbnail',richSnippet,{url:unescapedUrl,target:target})"></div>
            <div class="gs-title">
                <a class="gs-title" data-attr="{href:unescapedUrl,target:target}"
                   data-body="html(title)"></a>
            </div>
            <div class="gs-snippet" data-body="html(content)"></div>

            <div class="gs-visibleUrl gs-visibleUrl-short" data-body="visibleUrl"></div>
            <div class="gs-visibleUrl gs-visibleUrl-long" data-body="longUrl()"></div>
            <div data-if="Vars.richSnippet && Vars.richSnippet.action" class="gs-actions"
                 data-body="render('action',richSnippet,{url:unescapedUrl,target:target})"></div>
        </div>
    </div>

  <div id="fria_thumbnail">
    <div data-attr="0" data-vars="{tn:Vars.thumbnail && thumbnail.src
        ? thumbnail : {src:Vars.document && document.thumbnailUrl}}">
      <div data-if="tn.src" class="gs-image-box gs-web-image-box">
        <a class="gs-image" data-attr="{href:url,target:target}">
          <img class="gs-image" src=""
            data-attr="{src:tn.src, width:tn.width || 100, height: tn.height}"/>
        </a>
      </div>
    </div>
  </div>

  <div id="fria_action">
    <div data-foreach="Vars.action" data-attr="0">
      <div data-attr="{'class': 'gs-action ' + Cur['class']}"
          data-if="Cur.url && Cur.label">
        <a class="gs-action" data-attr="{href:Cur.url,target:target}"
          data-body="Cur.label"></a>
      </div>
    </div>
  </div>
</div>

<script src="http://www.google.com/jsapi" type="text/javascript"></script>
<script type="text/javascript">
    google.load('search', '1', { language: 'en', style: google.loader.themes.V2_DEFAULT });
    google.setOnLoadCallback(function () {
        var customSearchOptions = {};
        var orderByOptions = {};
        orderByOptions['keys'] = [{ label: 'Date', key: 'date' }, { label: 'Relevance', key: ''}];
        customSearchOptions['enableOrderBy'] = true;
        customSearchOptions['orderByOptions'] = orderByOptions;
        customSearchOptions['adoptions'] = { 'layout': 'noTop' };
        var customSearchControl = new google.search.CustomSearchControl(
      '017060715910446842244:syxqx4wot3o', customSearchOptions);
        google.search.Csedr.addOverride("fria_");
        customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
        customSearchControl.setOnKeepCallback(this, onFavorite, " ");
        customSearchControl.draw('cse');
    }, true);

    var onFavorite = function (result) {
        if (result) {
            var newJob = {
                ShortDescription: stripHtml(result.content),
                Title: stripHtml(result.title),
                URL: stripHtml(result.url),
                Budget: "$100"
            };

            $.post('@Url.Action("SaveFavorite", "Jobs")', newJob, function (data) {
                    alert("Job Saved");
            }).error(function (data) {
                alert("error"); 
            });

        }
    };

    function stripHtml(str) {
        return jQuery('<div />', { html: str }).text();
    } 
</script>-->
