           
@{
    Layout = "~/Views/Shared/_LayoutReset.cshtml";
    ViewBag.Title = "freelancehub.io - Oops!";
}


<section id="home_main">
<h3>
    Oops! Something went wrong. Please try again.
</h3>
</section>