

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSignedIn.cshtml";
}


<section id="main">
<h2>Admin Panel</h2>

@Html.ActionLink("Manage Custom Search Sites", "Index", "CustomSearch", null, null)
</section>
